/*check box desing inside the table*/
input[type=checkbox] {
	display: none;
}
label:before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;

	margin-right: 10px;
	left: 0;
	bottom: 1px;
	background-color: #FFF;
	border-radius: 3px;
	border: 1px solid #777;
	margin-bottom: -3px;
}

input[type=checkbox]:checked + label:before {
	content: '✔';
	font-size: 12px;
	color: #333;
	text-align: center;
}