﻿.tab-container-x:after,
.tab-container-x .tabs:after,
.tab-container-x .tab-content:after {
    display: block;
    content: "";
    clear: both;
    height: 0;
    width: 0;
    line-height: 0;
}

.tab-container-x .tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    .tab-container-x .tabs li {
        float: left;
        margin-right: 5px;
        padding: 8px 20px;
        text-align: center;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        background-color: #C5C5C5;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        position: relative;
        top: 1px;
    }

        .tab-container-x .tabs li:first-child {
            margin-left: auto;
        }

        .tab-container-x .tabs li.active,
        .tab-container-x .tabs li.active:hover {
            background-color: #bbbbbb;
        }

.tab-container-x .tab-content {
    background-color: #ECECEC;
}

.tab-container-x .tabs li:hover {
    background-color: #d1cfcf;
}

.tab-container-x .tabs li * {
    color: #555555;
    text-decoration: none;
    font-weight: bold;
}

.tab-container-x .tabs li.active *,
.tab-container-x .tabs li.active:hover * {
    color: #555;
}

.tab-container-x .tabs li:hover * {
    color: #555555;
}

.tab-container-x .tabs li a {
    padding: 10px;
    outline:none;
}

.tab-container-x .tab-content {
    min-height: 200px;
    padding: 2% 10%;
}

    .tab-container-x .tab-content .tab-pane {
        display: none;
    }

        .tab-container-x .tab-content .tab-pane.active {
            display: block;
        }

.tab-container-x.x1 .tabs {
    border-bottom: solid 1px #ddd;
}

    .tab-container-x.x1 .tabs li:first-child {
        margin-left: 10px;
    }

    .tab-container-x.x1 .tabs li.active,
    .tab-container-x.x1 .tabs li.active:hover {
        background-color: #fff;
        border-left: solid 1px #ddd;
        border-right: solid 1px #ddd;
        border-top: solid 1px #ddd;
    }

.tab-container-x.x1 .tab-content {
    background-color: #fff;
}


//karthick

.side-menu-heading > .col-md-12{
    padding: 0;
}
    .side-menu-heading > .col-md-12 > h2{
        font-size: 20px;
        font-weight: 600 !important;
        margin: 0 !important;
        color: #777;
        padding: 10px 0px;
        text-align: center;
    }
    .side-menu-tab{
        padding: 0px;
        background-color: #fff;
        border-right: 1px solid #f1f1f1;
    }
    .side-menu-tab > ul.tabs{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .side-menu-tab > ul >li{
        position: relative;
    }
    .side-menu-tab > ul >li.active > a{
        background: #f1f1f1;
        color:#000 !important;

    }
    .side-menu-tab > ul > li:hover{
        background: #f1f1f1;
        color:#000;
    }
    .side-menu-tab > ul >li > a{
        padding: 10px 20px;
        display: block;
        text-decoration: none;
        font-size: 14px;
        color: #333;
    }