/*---------------------common styles------------------------------*/
body{color:#212121;background: #EFEFEF;font-size: 13px;}
a, a:hover, a:focus {text-decoration: none; outline: medium none; }
input, textarea, select, button {outline: medium none !important;}
ul,ol{list-style: none;}
.p-color{color: #FF9000;}
.s-color{color: #999;}
hr{color: #B6B6B6;}
.tab-dark-navy-blue {background: #aaa none repeat scroll 0% 0%; border-radius: 0; border-bottom: medium none; }

textarea{resize: vertical;}
.mt15{margin-top: 15px;}
.mb15{margin-bottom: 15px;}
.ml15{margin-left: 15px;}


/*-------------------------------bootstrap reset-----------------*/
.form-control,.form-control:focus{box-shadow: none;}
.form-control:focus{border-color: #999;}

.navbar-nav > li > a {line-height: 21px; } 
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {border-top: 0;}
.dropdown-menu{padding:0;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {background-color: #495D74;color: #FFF;
	text-decoration: none;}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {background-color: #FF9000;
    border-color: #FF9000;}
 /*.pagination > li > a, .pagination > li > span {color: #FF9000;}*/
 .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {color: #FF9000;background-color: transparent;}
 .pagination > li > a, .pagination > li > span {color: #212121;}
.dropdown-menu > li > a {padding: 10px 15px;color:#212121;font-size: 13px;}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {border-color: #FF9000; }




/*header*/
header{height: 51px;box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);position: fixed; left: 0px; right: 0px; top: 0;z-index: 1002;} 
.menubar{background:white;margin-bottom: 0px;border: 0;border-radius: 0;}
.menubar .navbar-nav > li > .dropdown-menu {margin-top: -1px;}
.menubar .navbar-nav > li > a .caret{transition: all 0.3s ease 0s;}
.menubar .navbar-nav > li.open > a .caret{-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);}
.menubar.navbar-default .navbar-brand {font-size: 21px;color: #2E2E2E;margin-top: 1px;text-transform: uppercase;}
.menubar .nav > li > a:hover, .menubar .nav li.active a, .menubar .nav li.dropdown a:hover, .menubar .nav li.dropdown.open a:focus, .menubar .nav .open > a, .menubar .nav .open > a:hover, .menubar .nav .open > a:focus {background-color: #ff9000; text-decoration: none; color: #FFF; transition: all 0.3s ease 0s; }


.menubar .nav li.active .dropdown-menu > li > a{background-color: #fff;color: #212121}
.menubar .nav li.active .dropdown-menu > li > a:hover{background-color: #ff9000; text-decoration: none; color: #fff;}

.subnav{background: #FFBA64;top: 51px;position: fixed;clear: both;z-index: 100;width: 100%;margin-bottom: 20px;}
.subnav ul{margin-top: 5px;margin-bottom: 5px;}
.subnav ul li a{color: #212121;    padding: 3px;display: block;}
.subnav ul li.active a{color: white;background: #F69B25;border-radius: 1px;}

/*body*/
.main-content .page-header{border-bottom: 0;margin: 20px 0px;}
.surround{padding: 15px;width: 100%;margin-top: 90px;}


/*overview*/
.border-head h4 {border-bottom: 1px solid #e1e1e1;color: #777;margin-top: 0px;margin-bottom: 20px; padding-bottom: 5px;font-weight: 300; }
.panel{border: medium none;}
.stats .symbol, .stats .value{display: inline-block;text-align: center;}
.stats .symbol {width: 40%;padding: 25px 15px;border-radius: 4px 0px 0px 4px;}
.stats .symbol.color1{background-color: #42A6BF;}
.stats .symbol.color2{background: #FFA13D;}
.stats .symbol.color3{background: #88C771;}
.stats .symbol.color4{background: #abacab;}
.stats .symbol i {color: #FFF;font-size: 50px;}
.stats .value {width: 58%;padding-top:21px;float: right;}
.stats .value h1 {font-weight: 300;}
.stats .value h1, .stats .value p {margin: 0px;padding: 0px;color: #C6CAD6;}



.task-thumb {width: 90px; float: left; margin-bottom: 5px; } 
.task-thumb-details {display: inline-block;margin: 25px 0px 0px 10px;}
.task-thumb-details p, .task-progress p {padding-top: 5px; color: #A4AABA; } 
.task-thumb-details h1, .task-thumb-details h1 a, .task-progress h1, .task-progress h1 a {color: #39B5AA; font-size: 18px; margin: 0px; padding: 0px; font-weight: 400; }
.personal-task tbody tr td i {font-size: 20px;color: #C7CBD4;}
.progress-panel {padding-bottom: 5px; }
.task-progress {float: left;}
.task-option {float: right;}
.task-option select {height: 35px; border: 1px solid #EAEAEA; border-radius: 4px; padding: 8px; color: #A4ABBB; }
.personal-task tbody tr td {padding: 11px 15px;border-color: #EEEFF1;}
.badge.bg-success {background: #A9D86E none repeat scroll 0% 0%; }
.badge.bg-important {background: #FF6C60 none repeat scroll 0% 0%; }
.badge.bg-info {  background: #41CAC0 none repeat scroll 0% 0%;}
.badge.bg-warning {background: #FCB322 none repeat scroll 0% 0%; }
.badge.bg-primary {	background: #8075C4 none repeat scroll 0% 0%;}
.personal-task > tbody > tr > td:last-child {text-align: right;}


/*sidebar*/

/*

#sidebar {width: 210px; height: 100%; position: fixed; background: #2a3542; overflow: hidden; margin-left: 0px; }
#sidebar ul li {position: relative; }
#sidebar .sub-menu > .sub li  {padding-left: 32px; }
#sidebar .sub-menu > .sub li:last-child {padding-bottom: 10px; }

.nav-collapse.collapse {display: inline; }

ul.sidebar-menu , ul.sidebar-menu li ul.sub{margin: -2px 0 0; padding: 0; }

ul.sidebar-menu {margin-top: 75px; }

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {display: block; }
#sidebar > ul > li > ul.sub {display: none; }
ul.sidebar-menu li ul.sub li{background: #35404D; margin-bottom: 0; margin-left: 0; margin-right: 0; }
ul.sidebar-menu li ul.sub li:last-child{border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; }
ul.sidebar-menu li ul.sub li a {font-size: 12px; padding: 6px 0; line-height: 35px; height: 35px; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease; color: #aeb2b7; }
ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {color: #FF6C60; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease; display: block; }

ul.sidebar-menu li{margin-bottom: 5px; margin-left:10px; margin-right:10px; }

ul.sidebar-menu li.sub-menu{line-height: 15px; }
ul.sidebar-menu li a span{display: inline-block; }
ul.sidebar-menu li a{color: #aeb2b7; text-decoration: none; display: block; padding: 15px 0 15px 10px; font-size: 12px; outline: none; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease; }

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {background: #35404d; color: #fff; display: block; border-radius: 4px; -webkit-border-radius: 4px; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease; }


ul.sidebar-menu li a i {font-size: 15px; padding-right: 6px; }
ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {color: #FF6C60; }
ul.sidebar-menu li a.active i {color: #FF6C60; }

aside + .main-content {margin-left: 210px;}
aside + .main-content > .surround {margin-top: 50px;}
*/

/*property*/
.sale-rent div.panel-heading:first-child{border-color: #F0F0F0;font-size: 16px;font-weight:bold;}
/*.sale-rent .badge{margin-left: 4px;}*/
.sale-rent .nav-tabs > li > a{margin-right: 1px;}
.sale-rent .nav-tabs > li > a:active{outline: none;}
.sale-rent .panel-heading .nav {border: medium none; font-size: 13px; margin: -10px -15px -11px -10px; }
.sale-rent .panel-heading .nav > li > a {color: #FFF; } 
.sale-rent .panel-heading .nav > li.active > a, .panel-heading .nav > li > a:hover {color: #47596F; background: rgba(255, 255, 255, 0.86) none repeat scroll 0% 0%; } 
.sale-rent .panel-heading .nav > li > a, .panel-heading .nav > li.active > a, .panel-heading .nav > li.active > a:hover, .panel-heading .nav > li.active > a:focus {border-width: 0px; border-radius: 0px; }

.sale-rent .form-horizontal label{text-align: left;font-weight: normal;}


.list-map-tools{margin-bottom: 10px;}
.pub-priv{display: inline-block;width: 10%;padding-top: 3px;}

.sale-rent .pagination{display: inline; padding-left: 0px; margin: 0px; border-radius: 4px;float: right;}
.panel-shadow{box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25) !important;}
.panel-h-restore{border:0 !important;font-size:14px !important;}
.panel-b-restore{padding:15px !important;}

.subnav .badge{vertical-align: top;color: #FF9000;background-color: #FFF;}


/*add listing*/
.addlisting .panel-heading{background:#E0E0E0;border:0;font-size: 14px !important;}
.addlisting .panel-body{padding:15px !important;}

/*footer*/
footer{padding-top: 10px;border-top: 1px solid #e1e1e1;background: white;}